<%- include("./partials/header")  %>

      <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
          <div>
            <h3 class="float-md-start mb-0 text-dark">Todo App</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a href="/logout">Logout</a>
            </nav>
          </div>
          <h1 class="text-dark">Hello  <%= user %> </h1>
          <p class="lead text-dark">Welcome to Home Page</p>
            <div class="container mt-5">
                <form  action="/add/todo" method="POST" class="d-flex">
                    <input type="text" name="todo" class="form-control" placeholder="Enter Todo">
                    <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2">
                </form>
            
                <ul class="list-group my-5">
                    <% if (todos.length > 0) { %>
                        <% todos.forEach(todo => { %>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <%= todo.name %>
                                <div>
                                    <a href="/delete/todo/<%= todo.id %>" class="btn btn-danger btn-sm">Delete</a>
                                </div>
                                
                            </li>
                        <% }) %>
                    <% } else { %>
                        <li class="list-group-item">No to-do items found.</li>
                    <% } %>
                </ul>
            </div>
        </header>


      </div>
<%- include("./partials/footer")  %>